:root {
/*  --grey-color: #E0E0E0;  
  --black-color: #000000;
  --dark-grey:  #B8B8B8;*/

    --grey-color:  #494949;
    --light-grey:  #6B6B6B;
    --white-grey: #D9D9D9;

}
body{
  background-color: #383838;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

/*.container{
  padding-right: 0px;
  padding-left: 0px;
  background-color:var(--light-grey);
  max-height: 100%;
  width: 82%;
}
*/
.container {
  padding-right: 0px;
  padding-left: 0px;
  background-color: var(--light-grey);
  max-height: 100%;
  height: 100%;
  width: 82%;
  max-width: 82%; /* Optional: set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

#canvas:hover {
    cursor:grab;
}

.custom-cursor {
    cursor: url('circle_icon.png'), auto;
}

.upper-canvas{
  position: 0px;
}
.upper-canvas: hover{
  cursor: url('circle_icon.png'), auto;
}
/*================Style for topbar_id================*/
#topbar_id nav
{
  background-color:var(--grey-color);
  border: 1px solid var(--dark-grey);
}

#topbar_id a
{
  color: white;
}

#topbar_id .dropdown-menu a
{
    color: black;
}

 #fileInput{
      display: none;
 }


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: black;
}


.nav>li>a:focus, .nav>li>a:hover, .nav>li>a:active {
    background-color: black;
}

/*================Style for tabbar_id================*/
#tabbar_id{
  text-align: center;
  background-color: var(--grey-color);
  border: 1px solid var(--dark-grey);
  padding-top: 6px;
  padding-bottom: 6px;
}


#tabbar_id .close-tab {
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 0;
    }

/*================Style for tool_id================*/
#tool_id 
{
  background-color: var(--light-grey);
  border: 1px solid var(--dark-grey);
}

#tool_id button
{
  margin: 0px;
  display: block;
  width: 100%;
  height: 35px;
  padding: 0px 0px 0px 0px;
}

#tool_id .row
{
  margin-right: 0px;
  margin-left: 0px;
}

#tool_id .col-sm-6
{
  padding: 0px;
  margin: 0px;

}

#tool_id .fa {
padding: 10px 5px 10px 5px;
}

#tool_id .fas {
padding: 10px 5px 10px 5px;
}

#ToolSize{
  margin-top: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: var(--white-grey);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#drawSizeRange{
  margin-bottom: 0px;
}
#tool_id input[type=range][orient=vertical] {
    appearance: slider-vertical;
    width: 5px;
    height: 175px;
    margin-left: 10px;
    margin-right: 5px;
}

#BrushRange::-webkit-slider-thumb {
    margin-right: -5px;
    }

   /* Change the color of the slider track */
#BrushRange::-webkit-slider-runnable-track {
        background-color: black; /* Gray color */
        width: 5px;
}
/*================Style for Editor_id================*/
#Editor_id
{
  margin: 1%;
  background-color: var(--light-grey);
/*  border: 1px solid var(--dark-grey);*/
}

#Editor_id .selected {
  background-color: #007bff; /* Change the background color to indicate selection */
  color: #ffffff; /* Change the text color to indicate selection */
}

#UndoBtn:hover {
    color: white; /* Change to the desired color */
    background-color: black;
}

#RedoBtn:hover {
    color: white; /* Change to the desired color */
    background-color: black;
}

#pointerBtn:hover
{
    color: white; /* Change to the desired color */
    background-color: black;
}

.editor-col{
  padding: 0px;
}

.editor-col button{
  width: 100%;
}

.editor-top-col{
  padding-left: 1%;
  padding-right: 0px;
}

.editor-row{
  margin-bottom: 10%;
}
/*================Style for canvas_id================*/
#canvas_id{
/*    padding-top: 2%;*/
}
canvas {
/*     border: 2px solid var(--grey-color);*/
     cursor: crosshair;
}

#canvas_id {
    background-size: cover; /* Adjust as needed */
    position: relative;
    display: flex;
    height: 600px;
    width: 600px;
    justify-content: center;
}


#canvas_id2 {
    background-size: cover; 
    position: relative;
    display: flex; /* Display as flex container */
    justify-content: center; /* Center horizontally */
}


/*================Style for operation_id================*/


#operation_id .panel{
  background-color: var(--white-grey);
  border: 1px solid var(--dark-grey);
  border-bottom: 1px solid black;
}

#collapse2{
  text-align: center;
}

#collapse2 span{
/*    text-align: left;*/
    float: left;
}

#collapse1{
  text-align: left;
}

#operation_id .panel-heading{
  background-color: var(--grey-color);
  border-bottom: 1px solid black;
    color: white;
}



.layerbutton{
     text-align:  "left";
     background-color: "#6c757d";
     color:  "#ffffff";
}


#opacityRange::-webkit-slider-thumb {
    margin-top: -5px;
    }

   /* Change the color of the slider track */
#opacityRange::-webkit-slider-runnable-track {
        background-color: black; /* Gray color */
        height: 5px; /* Set the height of the track */
    }


/*
#collapse4 {
  overflow-y: auto; 
}
*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-item.active {
    background-color: #555;
    color: white;
}

#pagination{
  margin-bottom: 5px;
}

/*=====================style for caret====================*/
#shadowUL {
  list-style-type: none;
}

#shadowUL {
  margin: 0;
  padding: 0;
}

#shadowList .caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
      display: inline-block;
     width: 100%; 
     height: 100%; 
    margin-left: 2px;
    vertical-align: middle;
    border-top: 1px solid;
    border-top: 1px solid;
    border-right: 1px solid black; 
    border-left: 1px solid black; 
}

#shadowList .caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

#shadowList .caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

#shadowList .nested {
  display: none;
}

#shadowList .active {
  display: block;
}

#cursorInfo{
        padding-top: 5px;
    padding-bottom: 5px;
}
  #cursorInfo .form-check {
}
/*    display: inline-block;*/
    margin-right: 10px; /* Adjust the margin as needed */
  }

/*#collapse2 .active-button {
    background-color: black;  Change this to your desired active background color 
    color: red;
    border: none;
  }*/



#collapse2 .btn-group{
  margin: 10px 0px 10px 0px;
}

#collapse2 .panel-body{
    padding: 10px;
}
/*==============styling for switch=============*/
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 14px;


}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
   background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
/*    background-color: black;*/

}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  right: 1px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: black;
}

input:checked + .slider {
  background-color: #2196F3;
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

#operation_id .panel-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

#collapse1 .switch{
  float: right;
}

hr{
  margin-top: 2px;
  margin-bottom: 2px;
  border:1px solid #B8B8B8;
}

/*========================= Shadow Size ===========================*/
#ChangeSize span{
  margin-right: 5px;
}
#ChangeSize .increment,
    .decrement {
        border-radius: 5px; 
/*        padding: 5px 10px; */
        margin-right: 5px; 
        height: 20px;
        background-color: var(--grey-color); 
        color: white;
        border: 1px solid #ccc; 
        cursor: pointer; 
    }



    /* Change button background color on hover */
#ChangeSize .increment:hover,
    .decrement:hover {
        background-color: var(--light-grey);
    }


/*====================Zoom Control============================*/
/*#zoomControls{
  position: absolute;
  top:10px;
  right: 20px; 
}*/
/*style="position: absolute; top: 10px; right: 10px;"*/

#zoomControls{
    background-color: var(--white-grey);
    padding-top: 10%;
    padding-bottom: 10%;
}
#zoomControls button{
  margin: auto;
  width: 40%;
  background-color: var(--grey-color);
  color: white;
}

#zoomInButton:hover{
    border: 1px solid black;
    background-color: var(--white-grey);
    color: black;
}
#zoomOutButton:hover{
    border: 1px solid black;
    background-color: var(--white-grey);
    color: black;
}

/*===================checkbox color===========================*/
input[type=checkbox] {
  accent-color: red;
}


/*=========================paint brush popover===========================*/
    .circle-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .circle-container i {
        margin: 0 5px; 
    }

    .circle-10, .circle-15, .circle-20, .circle-25, .circle-30 {
        display: block;
    }

    .circle-10 {
        font-size: 3px;
    }

    .circle-15 {
        font-size: 8px;
    }

    .circle-20 {
        font-size: 14px;
    }

    .circle-25 {
        font-size: 18px;
    }

    .circle-30 {
        font-size: 25px;
    }

/* ========================= image carousel========================*/
/*#Carousel_id{
    display: none;
}*/
#Carousel_id * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#Carousel_id .carousel-container {
  width: 40px;
  margin: 60px auto;
  position: relative;
  border-left: 4px solid #aaa;
}

@media (max-width: 768px) {
  #Carousel_id .carousel-container {
    width: 100%;
  }
}

#Carousel_id .inner-carousel {
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #Carousel_id .card-container {
    width: 184px;
  }
}

#Carousel_id .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center bottom;
  background-size: center;
  background-repeat: no-repeat;
}

#Carousel_id .nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#Carousel_id .nav button {
  position: absolute;
  bottom: 20%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Carousel_id .nav .prev {
  left: 0;
}

#Carousel_id .nav .next {
  right: 0;
}

#Carousel_id .nav .prev.show {
  display: block;
}

#Carousel_id .nav .next.hide {
  display: none;
}

#Carousel_id .track {
  display: inline-flex;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  /* Set the width of the track container to accommodate two cards */
  width: calc(100px * 2 + 35px); /* 240px is the width of two cards, 20px is the padding between cards */
}

#Carousel_id .card-container {
  width: 117px;
  height: 100px;
  flex-shrink: 0;
  padding-left: 12px;
}

#opacitydiv_id,
#partdiv_id,
#ChangeSize,
#pagination {
  display: none;
}

#Carousel_id .nav {
  display: none;
}

/*========================data loader =================*/
.loader {
  display: none; /* Hide the loader initially */
  position: fixed;
  z-index: 9999;
  left: 40%;
  top: 40%;
  border: 16px solid black;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*======================direction button active=======================*/
  #collapse2 .active-button {
    background-color: #6B6B6B !important; /* Increase specificity and use !important to ensure it takes precedence */
    color: black;
    border: none !important;
}

/*=======================modal styles ===============================*/
 /* Center the modal vertically and horizontally */
#myModal .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  /* Smaller modal */
#myModal .modal-content {
    width: 50%;
    max-width: 400px; /* Limit maximum width */
  }
  
  /* Change modal header and footer color */
#myModal .modal-header,
  .modal-footer {
    background-color: #494949; /* Change to your desired color */
    color: #fff; /* Text color */
  }
  
  /* Change modal body color */
#myModal .modal-body {
    background-color: #D9D9D9; /* Change to your desired color */
    color: #000; /* Text color */
  }


#myModal .close {
    color: #fff; 
    opacity: 1;
}

/*===========================footer =======================*/
.footer {
   position: fixed;
/*   left: 0;*/
   left: 9%;
   bottom: 0;
   width: 82%;
   background-color: var(--grey-color);
   color: var(--white-grey);
   text-align: left;
}

.footer p{
 margin-left: 10px;
 padding-top: 5px;
}
